//vars
$mainColor: rgb(4, 4, 4);
$secondaryColor: rgb(150, 20, 20);
$thirdColor: rgb(249, 248, 244);
$fourthColor: rgb(219, 219, 217);
$fivethColor: rgb(163,154,49);

$textLg: 4em;
$textMd: 3em;
$textSm: 2.2em;
$textXs: 1.5em;
$textXxs: 2rem;
$textGsize: 62.5%;
$textHeight: 1.2em;
$textSize: 1.8em;

$borderImage: 2rem;

